@charset "utf-8";
/* 서브페이지용 CSS - sub.css */

/* 공통외부css 합치기 */
@import url(./common.css);

/*  서브페이지 공통 글자설정 */
#cont{
    font-family: 'Noto Sans KR', sans-serif;
}


/* 서브타이틀 - 00뉴스 */
h2.stit{
    font-size: 45px;
    font-family: "Dongle", sans-serif;
    color: #00c300;
    font-weight: normal;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;

    
    border-radius: 20px;

    /* outline: 4px solid rgba(95, 86, 86, 0); */
    /* 
        [ outline요소 ]
        box모델의 필수속성은 아니지만
        박스의 외곽선을 표현해주며
        *박스자체에 크기에 영향을 주지 않음!
        outline: 두께 종류 색상 -> 두종색

        -> border와 셋팅이 같음!
        단, border-radius 둥근모서리는 보더만 적용되었으나
        아웃트라인도 됨 이제는...

        -> 주로 사용되는 예는 input 입력창에서 포커스가 갈 경우 외곽선표시가 됨

    */
    padding: 35px;

    /* 배경넣기 : 한번에쓰기 */
    background: url(../images/afig4.jpg) no-repeat center/cover;
    /* background: 색이반고윙/크;
        배경색 이미지 반복 고정 위치/크기
    */

    /* 배경넣기 : 속성별쓰기 */
    
    /* 반복여부 */
    background-repeat: no-repeat;
    
    /* 배경위치 : 가로 세로 */
    background-position: center;
    
    /* 배경크기 : 가로 세로(cover - 박스채우기) */
    background-size: cover;

    /* 박스그림자 */
    box-shadow:
    inset 0px 0px 23px 5px #384851,
    0px 0px 15px 2px #b9da00;
    
    /* 
        [ box-shadow 속성 ]
        - 박스 외부/내부 그림자 설정속성
        - 값 : x축 y축 blur spread 색
        text-shadow와 달리 spread 속성이 있음
        이것은 그림자를 커지게 함!
        - 내부그림자 옵선 : inset
        - 그림자 다중설정: 콤마로 연속가능
    */
    margin-bottom: 30px;
    
}

/* IT/과학 배경이미지 */
h2.st4 {
    /* 배경이미지 */
    background-image: url(../images/afig4.jpg) ;
    color: rgb(255, 0, 106)
}

/* 정치뉴스 이미지 */
/* .st1의 적용우선순위를 높이기 위해 부모요소를 써줌! */
h2.st1 {
    /* 배경이미지 */
    background-image: url(../images/afig1-3.jpg) ;
    /* 배경위치변경(세로y축) */
    /* background-position-y: -40px; */
    color: rgb(255, 171, 217);
    background-position-y: -110px;
    background-position-x: -15px;
}

/* 경제뉴스 이미지 */
h2.st2{
    /* 배경이미지 */
    background-image: url(../images/afig2-1.jpg);
    color: rgb(157, 255, 0);

}

/* 사회뉴스 이미지 */
h2.st3{
    /* 배경이미지 */
    background-image: url(../images/afig3-1.jpg);
    color:rgb(255, 219, 177);

}

/* TV/연예 뉴스 이미지 */
h2.st5{
    background-image: url(../images/afig5.jpg);
    background-position-y: -207px;
    color:rgb(0, 255, 157);
}

/* 언론사로고 */
.prlogo img{
    height: 32px;
    /* 
        이미지는 기본 비율을 가지고 있어서
        가로, 세로 중 한 쪽만 크기를 주면 나머지 방향은
        자동으로 비율을 유지함!

        가로,세로를 다 주면 비율이 깨짐!
    */
}

/* 기사타이틀 */
.atit{
    font-size:30px;
}

/* 기사이미지 박스 */
.afig{
    margin-bottom: 40px;
}
/* 기사이미지 */
.afig img{
    width: 100%;
}
/* 기사이미지 설명 */
.afig figcaption{
    text-align: center;
    color:#767676;
}
.afig figcaption small{
    font-size: 15px;

}

/* 기사 문단 */
.acont p{
    font-size: 18px;
    color: #303038 ;
    /* 자간 : ls */
    letter-spacing: -1px;
    /* 단어간격 : ws */
    word-spacing: 1px;
    /* 양쪽정렬 */
    text-align: justify;
    /* 줄간격 lh */
    line-height: 2.1; 
    /* 글자 라인간 간격을 조정함
    숫자만 쓰면 배수임(글자높이값에 대한 배수)
    단위를 쓰면 단위에 맞게 줄간격 조정
    -> 줄간격의 응용은 버튼 등의 글자를 세로 중앙에 오게 할때 박스높이값만큼 준다!*/

}

/* 강조em요소 디자인변경 */
.acont p em{
    /* 이탤릭해제 */
    font-style: normal;
    /* 글자색 변경 */
    color: hotpink;
    /* 글자그림자 */
    text-shadow: 2px 2px 3px #6eddff;

    
}

.acont p mark{
    display: block;
    width: 65%;
    text-align: center;
    background-color: #f1f1f1;
    margin: 15px auto;
    padding: 30px 50px;
    font-size: 20px;
    font-family: "East Sea Dokdo", cursive;
    border-top: 2px solid #008eb3;
    border-bottom: 2px solid #008eb3;
    color: crimson;
    line-height: 35px;
}



/* 유튜브 동영상 박스 */
.mvbx {
    height: 550px;
    /* 
        div와 같은 block요소는
        width 설정을 하지 않으면
        width:auto로 자동설정됨.
        이는 싸고 있는 컨텐츠영역을 자동으로 채워준다!
    */
    
}

.mvbx iframe{
    border: none;
    width: 100%;
    height: 100%;
}

/* 인용블록 영역 */
.bqbx{
    padding: 20px 0;
    margin: 20px 0;
    border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;
    font-size: 15px;
}

.bqbx blockquote{
    padding: 15px 0;
    line-height: 2;
    
}

/* 주해박스 */
.descripton{
    border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;
    padding: 20px 0;
}
.descripton div{
    padding: 15px 0;
    font-size: 15px;
    line-height: 2;
    
}



/* 인용블록 이미지 */
.bqbx img{
    float: right;
    border-radius: 5px;
    margin-left: 20px;
}

/* article 제목공통 - .atbx */
.atbx h5{
    background-color: #ebebeb;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 40px;
    box-shadow: inset 0 0 8px #000000b8;
    color: #333;
    font-size: 20px;
    margin: 0;

}


/* 기사원문 */
.alink{
    text-align: right;
}
.alink a{
    /* 디자인적용위해 display변경하기 dib */
    display: inline-block;
    /* 가로정렬중앙 -> inline일때만 먹힘 */
    text-align: center;
    /* 줄간격으로 세로 글자 중앙 - 높이값과 같음 */
    line-height: 70px;
    width: 70px;
    height: 70px;
    border: 1px solid darkcyan;
    border-radius: 50%;/* 원형 */
    
    /* a요소 기본 글자색변경, 밑줄 없앰 */
    color:rgb(100, 255, 255);
    text-decoration: none;
    background-color: darkcyan;
    box-shadow: inset 0 0 18px 2px #000;
    font-weight: 500;
    
    
}

/* 마우스 오버시 변경 */
.alink a:hover{
    color: #ffffff;
    background-color: #ff7575;
    border: 1px solid #ff7575;
    box-shadow: 0 0 10px 5px rgb(255, 0, 0);
}

/* 오늘의 작품&느낌 */
.work{
    text-align: center;/* 인라인요소 가운데오게 하기 */
    /* background-color: lightpink; */
    /* 그라데이션은 백그라운드 "이미지"로! gbi */ 

    background-image:
    linear-gradient(30deg,#ffa4a4,#9090ff,#ffffb9);
    /* linear-gradient(45deg,red,blue,yellow); */
    /* background-image: linear-gradient(방향,색1,색2);
    background-image: linear-gradient(방향,색1,몇%,색2,몇%);
    background-image: linear-gradient(각도,색1,몇%,색2,몇%);
    - 옵션
        1. 방향 : to top, to bottom, to left, to :right
        2. 각도 : 각도deg
        3. 콤마로 나열된 색상에 %를 뒤에 쓰면 비율 조정가능! */


    /* border: 50px dotted red;
    padding: 50px; */

    /*
        배경옵션 추가!
        background-clip : 배경이 적용되는 범위설정
        1. border-box -> 보더까지 적용(기본값)    
        2. padding-box -> 패딩까지 적용
        3. content-box -> 내용영역만 적용(패딩, 보더 빠짐)

    */

    background-clip: content-box;
    box-shadow: inset 0 0 32px #727272;

}

/* 작품 타이틀 */
.work h3{
    font-family:'Gugi', cursive;
    font-weight: normal;
    font-size: 26px;
    color: #333;
    padding-top: 20px;
}

/* 작품이미지 */
.work img{
    border: 15px ridge #a57b11;
    /* ridge - 액자틀모양 */
}

/* 작품명 */
.work figcaption{
    font-family: 'Dongle', sans-serif;
    font-size: 40px;
    padding: 10px;
}

/* 작품명 인용구 */
.work figcaption cite{
    font-style: normal;
    color: darkmagenta;
}

/* 뉴스 파트 공통 class */
.nbx{
    border-top: 2px dashed #ccc;
    margin: 20px 0;
    padding: 20px 0;
}

/* 뉴스 파트 공통 a요소 */
.nbx a{
    /* 글자크기 fz */
    font-size: 17px;
    /* 줄간격 lh */
    line-height: 2.5;
    color: #222;
    text-decoration: none;
}
/* 공통 a마우스오버 */
.nbx a:hover{
    color:yellowgreen;
    text-shadow: 1px 1px 1px #000;
}

/* 뉴스 타이틀 공통 */
.nbx h3{
    font-family: 'Gugi', cursive;
    font-size: 30px;
    font-weight: normal;
    background-image:
    linear-gradient(to right, lightblue, transparent);
    padding: 10px;
}

/* 주요뉴스 ul */
/* ::before -> 가상요소 */
.cnews ul li::before{
    content: '🌝';/* 이미지를 넣고싶으면 url, 이모지는 윈도우 + .*/

}
.cnews ul li::after{
    content: '🙈'

}
/* 
    [ css 가상요소 : before, after ]
    - 모든 요소는 맨 앞과 맨 뒤에 가상요소를 사용할 수 있다
    - 맨앞은 before, 맨 뒤는 after
    - 필수속성 : content
    - 이미지는 url()사용!
*/

/* 분야별뉴스 */
.snews dt{
    display: inline;
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
    background-color: aqua;
    padding: 17px;
    border: 4px dashed blue;
    border-radius: 106px;
    margin-top: 55px;
}

/* dd앞에 가상요소로 블릿 넣기 */
.snews dd::before{ 
    content: '🚩';
}