@charset "utf-8";
/* 서브페이지용 CSS - sub.css */

/* 공통외부css 합치기 */
@import url(./common.css);


/* 서브타이틀 - 00뉴스 */
h2.stit{
    font-size: 45px;
    font-family: "Dongle", sans-serif;
    color: #00c300;
    font-weight: normal;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;

    outline: 4px solid red;
    padding: 35px;

    /* 배경넣기 : 한번에쓰기 */
    background: url(../images/afig4.jpg) no-repeat center/cover;
    /* background: 색이반고윙/크;
        배경색 이미지 반복 고정 위치/크기
    */

    /* 배경넣기 : 속성별쓰기 */
    
    /* 반복여부 */
    background-repeat: no-repeat;
    
    /* 배경위치 : 가로 세로 */
    background-position: center;
    
    /* 배경크기 : 가로 세로(cover - 박스채우기) */
    background-size: cover;
    
}

/* IT/과학 배경이미지 */
#cont .st4 {
    /* 배경이미지 */
    background-image: url(../images/afig4.jpg) ;
    color: yellow
}

/* 정치뉴스 이미지 */
/* .st1의 적용우선순위를 높이기 위해 부모요소를 써줌! */
#cont .st1 {
    /* 배경이미지 */
    background-image: url(../images/afig1-1.jpg) ;
    /* 배경위치변경(세로y축) */
    /* background-position-y: -40px; */
    color: rgb(255, 171, 217);
}

/* 경제뉴스 이미지 */
#cont .st2{
    /* 배경이미지 */
    background-image: url(../images/afig2.jpg);
    color: rgb(157, 255, 0);

}

/* 사회뉴스 이미지 */
#cont .st3{
    /* 배경이미지 */
    background-image: url(../images/afig3.jpg);
    color:rgb(255, 219, 177);

}



/* 기사내용 */
.acont{
    font-size: 16px;
    font-weight: normal;
}
/* 기사제목 */
h3.atit {
    font-size: 30px;
    letter-spacing: -2px;
    margin: 0;
}
/* 기사사진 */
.afig1,.afig2{
    margin: 0;
    width: 100%;
}

/* figcation css */
figcaption {
    font-weight: normal;
    font-size: 16px;
}
/* 기자정보 */
.rpt{
    font-size: 16px;
}
