@charset "utf-8";
/* 서브페이지용 CSS - sub.css */

/* 공통외부css 합치기 */
@import url(./common.css);


/* 서브타이틀 - 00뉴스 */
h2.stit{
    font-size: 45px;
    font-family: "Dongle", sans-serif;
    color: #00c300;
    font-weight: normal;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
}
/* 기사내용 */
.acont{
    font-size: 16px;
    font-weight: normal;
}
/* 기사제목 */
h3.atit {
    font-size: 30px;
    letter-spacing: -2px;
    margin: 0;
}
/* 기사사진 */
.afig1,.afig2{
    margin: 0;
    width: 100%;
}

/* figcation css */
figcaption {
    font-weight: normal;
    font-size: 16px;
}
/* 기자정보 */
.rpt{
    font-size: 16px;
}
