@charset "utf-8";
/* 아카이브 메인 CSS - main.css */

/* 초기화 */
html, body, h1, h2, h3, ul, ol{
    margin: 0;
    padding: 0;
}

/* 전체배경이미지 */
body{
    background: url(../imgs/main1.jpg) no-repeat fixed center/cover;
}