@charset "utf-8";
/* 아카이브 메인 CSS - main.css */

/* 초기화 */
html, body, h1, h2, h3, ul, ol{
    margin: 0;
    padding: 0;
}

/* 전체배경이미지 */
body{
    background: url(../imgs/main1.jpg) no-repeat fixed center/cover;
}

/* 전체글자체 */


/* 전체박스 */
.wrap{
    background-color: rgba(255, 255, 255, 0.425);
    width: 80%;
    border-radius: 20px;
    margin: 20px auto;
    padding: 40px
}

/* 메인타이틀 */
.tit{
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 45px;
    color: #222;
}