@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gugi&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/*
font-family: 'Black Han Sans', sans-serif;
font-family: 'Gugi', cursive;
font-family: 'Noto Sans KR', sans-serif;

*/

/* 아카이브 메인 CSS - main.css */

/* 초기화 */
html, body, h1, h2, h3, ul, ol{
    margin: 0;
    padding: 0;
}

/* 전체배경이미지 */
body{
    background: url(../imgs/main1.jpg) no-repeat fixed center/cover;
}

/* 전체글자체 */


/* 전체박스 */
.wrap{
    background-color: rgba(255, 255, 255, 0.425);
    width: 80%;
    border-radius: 20px;
    margin: 20px auto;
    padding: 40px
}

/* 메인타이틀 */
.tit{
    text-align: center;
    font-family: 'Gugi';
    font-size: 40px;
    color: #222;
    padding-bottom: 20px;
}

.tit img{
    width: 25%;
}

/* part1 상단 border */
.part1,.part2{
    padding: 20px;
}

.part1{
    border-top: 2px solid #544596;
}

