@charset "utf-8";


/* 공통 */
a{
    color: #fff;
    text-decoration: none;
}

/* 공통적용 */
/* 숨기기 */
.blind img:last-child{
    display: none;
}


/* 상단영역 */
.top{
    display: flex;
}

/* 로고 */
.logo img{
    height: 50px;
}

.logo img:last-child{
    display: none;
}

/* 네비게이션 박스 */
.gnb{
    display: flex;
}

.gnb dl:first-child dt img:last-child{
    display: none;
}


/* 기타파트 */
.tlink{
    display: flex;

}

